version: "3"

services:
  workspace:
    container_name: ${PROJECT_NAME:-default}-vscode
    hostname: ${PROJECT_NAME:-default}
    build:
      context: ..
      dockerfile: .devcontainer/infra/docker/volta/Dockerfile
      args:
        USER_NAME: ${USER_NAME-myzn}
        GROUP_NAME: ${GROUP_NAME-myzn}
        UID: ${UID-1000}
        GID: ${GID-1000}
        PROJECT_DIR: ${PROJECT_DIR-..}
        WORKDIR: ${WORKDIR}
        VOLTA_HOME: ${VOLTA_HOME}
    working_dir: ${WORKDIR}
    tty: true
    restart: always
    env_file:
      - .env
    volumes:
      - type: bind
        source: ../
        target: ${WORKDIR-/home/$USER_NAME/app}
    ports:
      - target: 3000
        published: ${WEB_PUBLISHED_PORT:-3000}
        protocol: tcp
        mode: host
      - target: 5555
        published: ${PRISMA_STUDIO_PUBLISHED_PORT:-5555}
        protocol: tcp
        mode: host
    environment:
      - TZ=Asia/Tokyo
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
